<nav class="navbar navbar-expand-lg navbar-dark py-4">
    <div class="container">
        {% if page.url != "/" %}
            <a class = "mr-auto ">
                <img id="company-logo" src="/assets/img/Logo.png" class="d-block d-lg-none d-xl-none" width="auto" height="40px" alt="Company Logo">
            </a>    
        {%endif%}
        <button class="navbar-toggler custom-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for item in site.data.navigation %}
                {% assign nav_item_in_dropdown = item.dropdown | where: "link", page.url | first %}
                <li class="nav-item {% if item.dropdown != nil %}dropdown{% endif %} {% if page.url == item.link or nav_item_in_dropdown != nil %}active{% endif %}">
                    {% if item.dropdown == nil %}
                    <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>                
                    {% else %}
                    <a href="{{ item.link }}" id="{{item.name | downcase}}-dropdown" class="nav-link dropdown-toggle"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{item.name | downcase}}-dropdown">
                        {% for dropdown_item in item.dropdown %}
                        <a class="dropdown-item {% if page.url == dropdown_item.link  %}active{% endif %} " href="{{ dropdown_item.link }}">{{ dropdown_item.name }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>