footer {
    color: white;
    p {
        margin:0;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        a {
            color:white;
            &:hover {
                color:white;
            }
        }
    }
    .fab {
        color: white;
        &.fa-twitter:hover {
            color:#1C9CEB;
        }
    }
}

@media only screen and (max-width: 540px) {
    p {
        font-size: 0.8rem;
    }
}