footer {
    color: white;
    p {
        margin:0;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        a {
            color:white;
            &:hover {
                color:white;
            }
        }
    }
    .fab {
        color: white;
        &.fa-twitter:hover {
            color:#1C9CEB;
        }
        &.fa-tiktok:hover {
            filter: drop-shadow(2px 2px 0px #F7004D) drop-shadow(-2px -2px 0px #00EAE3)
        }
        &.fa-youtube:hover {
            color:#FF0000;
        }
    }
}

@media only screen and (max-width: 540px) {
    p {
        font-size: 0.8rem;
    }
}