nav {
  .navbar-nav .nav-item {
    color: white;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    font-weight: bold;

    .nav-link {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    &.active {
      border-bottom:2px solid;
    }

    .dropdown-menu {
      border:none;
      border-bottom: 1px solid white;
      background: none;
      border-radius: 0;
      .dropdown-item {
        color:white;
        &:hover {
          background: none;
        }
      }

    }
  }

  .custom-toggler.navbar-toggler {
    border-color: $navbar-toggler-color;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='" + $navbar-toggler-color + "' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

  }
}