#links {
  #link-profile-img {
    height:85px;
    width:auto;
    border-width: 2px !important;
  }
  a.links-link {
    position:relative;
    padding: 1rem 3.5rem;
    i {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left:1.5rem;
    }
  }
}