#links {
  #link-profile-img {
    height:85px;
    width:auto;
    border-width: 2px !important;
  }
  a.links-link {
    position:relative;
    padding: 1rem 4rem;
    i, img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.5rem;
    }
    i {
      padding-left:0.5rem;
    }
    img {
      height: 35px;
      width: 34px;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }
}