---
layout: default
---
{% include vimeoplayer.html id=page.background_loop_vimeo_id %}
<div class="d-flex h-100 w-100">
    <div class="container h-100 w-100">
        <div class="row h-100 align-items-center no-gutters">
            <div class="offset-2 col-8 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                            src="https://www.youtube.com/embed/{{ page.trailer_youtube_id }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>