---
layout: default
---
{% include vimeoplayer.html id=page.background_loop_vimeo_id %}
<div class="d-flex h-100 w-100">
    <div class="container h-100 w-100">
        <div class="row h-100 align-items-center no-gutters">
            <div class="offset-lg-2 col-lg-8 text-center">
                <div class="embed-responsive embed-responsive-16by9 video-pop">
                    <iframe
                            src="https://www.youtube.com/embed/{{ page.trailer_youtube_id }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
                <div class="row mt-5">
                    <div id="android-badge-column" class="col-6 col-md-5 offset-md-1 text-right">
                        <a href='https://play.google.com/store/apps/details?id=com.breakstepstudios.commandcenterearth&hl=en_US&gl=US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img class="social-badge" alt='Get it on Google Play' src='/assets/img/Google%20Play%20Badge.png'/>
                        </a>
                    </div>
                    <div id="ios-badge-column" class="col-6 col-md-5 text-left">
                        <a href="https://apps.apple.com/us/app/command-center-earth/id1535097787?itsct=apps_box&amp;itscg=30200">
                            <img class="social-badge" src="/assets/img/App%20Store%20Badge.png" alt="Download on the App Store">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>